/* Error: Expected tabs, was spaces.
 *     ,
 * 215 |  .material-icons.big-2x,.fa.big-2x,.fas.big-2x
 *     | ^
 *     '
 *   style.sass 215:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected tabs, was spaces.\a     \2577 \a 215 \2502   .material-icons.big-2x,.fa.big-2x,.fas.big-2x\a     \2502  ^\a     \2575 \a   style.sass 215:1  root stylesheet";
}
