
$font-branding:    'Aldrich', sans-serif
$font-title:    'Zilla Slab', sans-serif
$font-text:    'Kodchasan', sans-serif
$primary-color: #9b1c31
$primary-gradient: #7d1d2d
$secondary-color: #575e67
$background-white:#eeeeee
$text-dark: #333333
$text-color: #999999
$text-white: #ffffff

body
	margin:0
	padding:0
	font: 100% $font-text
	color: $text-color

a
	text-decoration: none
	transition: 0.3s

h1, h2, h3
	font-family: $font-title


a:hover
	text-decoration: underline

.right
	text-align: right
	
.center
	display: flex
	justify-content: center
	align-items: center
	height: 80vh
	padding-left:15px
	padding-right:15px

//Styling for material icons
.material-icons.primary
	color: $primary-color

.material-icons.white
	color: $text-white

.material-icons.big
	font-size: 60px

//Style for login popup
.component-loginbox
	background-color: $primary-color
	height:100vh
	width:100vw
	display: none
	z-index: 2

.component-loginbox a
	color: $text-white

.component-loginbox.active
	display: block
	z-index: 2

#loginbox-close
	color: $text-white

//Style for sticky navagation bar
.navbar
	width: 100vw
	height: 70px
	display: flex
	align-items: center
	justify-content: space-around
	background: linear-gradient($primary-gradient,$primary-color)
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
	color: $text-white
	position: fixed
	z-index: 1
	top: 0

.content
	padding-top: 70px
	background-color: $primary-color

//The styles of components are arranged in the same order as in the HTML file
#component-banner
	background-image: url("../img/oxford.jpg")
	background-repeat: no-repeat
	background-position: center
	background-attachment: fixed
	background-size: cover
	color: $text-white
	font-size: 1.6em
	letter-spacing: 2px
	background-color: $secondary-color
	height:100vh
	width:100vw
	text-align: center

#component-banner-overlay
	background: rgba(0, 0, 0, 0.5)
	height:100vh
	width:100vw

.logo
	font-family: $font-branding

.nav
	display: flex
	justify-content: space-around
	width: 30%

.navlink
	list-style: none

.navlink a
	list-style: none
	color: $text-white
	text-decoration: none
	font-size: 1em

#loginbutton
	text-decoration: none
	font-size: 1em
	margin: 0
	padding: 10px 15px 10px 15px
	color: $text-white
	border: 2px solid $text-white
	border-radius: 5px
	transition: 0.3s

#loginbutton:hover
	color: $primary-color
	border: 2px solid $text-white
	background-color: $text-white

.burger
	font-size: 1.2em
	display: none

#component-tagline
	background-color: $primary-color
	height:100vh
	width:100vw

#component-about
	background-color: $background-white
	height:100vh
	width:100vw

#component-how
	background-color: $secondary-color
	height:100vh
	width:100vw

#component-tutorials
	background-color: $primary-color
	height:100vh
	width:100vw

#component-refund
	background-color: $secondary-color
	height:100vh
	width:100vw

#component-freetrial
	background-color: $background-white
	height:100vh
	width:100vw

#component-contact
	background-color: $secondary-color
	width:100vw
