$font-branding:    'Exo 2', sans-serif
$font-title:    'Helvetica', sans-serif
$font-text:    'Helvetica', sans-serif
$primary-color: #cd2028
$secondary-color: #666666
$title-color: #333333
$text-color: #999999

body
  font: 100% $font-text
  color: $text-color